body{
   background-color: aquamarine;
  }
  .nav
  {
    background-color: rgb(175, 167, 167);
  }
  .front
  {
    position: relative;
  }
  h1 
  {
    position: relative;
    padding: 10px;
  }
  #MyPicture
  {
    position:relative;
  }
